<html>
 <head>
   <title></title>
  
  </head>
  <body>
     <h4>Current User Logged in : {{.username}}</h4>
     <h3>List of Authorized Actions : </h3>
     <ul>
       <li><a href="/private">Private</a></li>
       <li><a href="/public">Public</a></li>
       <li><a href="/protected">Protected</a></li>
      </ul>

   
  <div id="timer"></div> 
  <script>
    
    var timer = document.getElementById("timer")
    var start = 0;

    setInterval(updateTime, 1000);

    function updateTime(){
      start--;
      if(start < 1){
       // window.location = "login.html";
        //window.location = "login.html";
        window.location = "logout.html";
        alert("Session Timeout!");
      }else{
        timer.innerText = "Session Expires in : " + formatTimer(start) + ": You will have to re-login"
      }
    }
    window.addEventListener("mousemove", reset)

    function reset(){
       start=10;
    }
    function formatTimer(timeInSec){
       var min = Math.floor(timeInSec / 60);
       var sec = timeInSec % 60;
       if ( min < 10 ) { min = "0" + min; }
	     if ( sec < 10 ) { sec = "0" + sec; }
	     return min + ":" + sec;
}

    </script>

    <h4>*Move cursor to reset the timeout timer</h4>

      <h4><a href="/logout">Logout</a></h4>
   </body>
</html>